/*right float the logo*/
#logo
{
  float: right;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: blue;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.topnav
{
   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   font-size: 30px;
   color: black;
}

h2
{
   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   font-size: 30px;
   color: black;
}

.description
{
   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   font-size: 20px;
   color: black;
}



